*tar.gz
IIIT5K
.vscode
**/__pycache__
.data
runs
checkpoints
aa.py
bench
cc.py
cnn_res
eval_res
gnn.py
less
tmp
load.py
loss.py_b
nohup.out
*.png
*.jpg
res_mask
res
res2
res3
res3.txt
res5
res6
res7
res8
seg_loss
trans_res
unet_res
test.pth
result
data
models/vit.py
models/swin_test.py
run1.sh
x.py