*tar.gz
IIIT5K
.vscode
**/__pycache__
.data
runs
checkpoints
aa.py
bench
cc.py
cnn_res
eval_res
gnn.py
less
tmp
load.py
loss.py_b
nohup.out
*.png
*.jpg
res_mask
res
res2
res3
res3.txt
res5
res6
res7
res8
seg_loss
trans_res
unet_res
test.pth
result
data
models/vit.py
models/swin_test.py
run1.sh
**/**/.*jpg
legacy/old/overlay
mmsegmentation
QT500
baseline_test
bs64_20kiter
mmtransform.py
models/mmUnet.py
res1
test_time_per_img
x.py
save_tmp
*.pth
*.pt
# test_*/
runs_tmp
*tmp*
.gpustats
# test_*
test_add_attention
save
pretrain.sh
pred.npy
gt.npy
test_all_size
test_classification_aa
test_classification_tg
test_classifier_before_interplolate
test_classifier_before_interplolate_uncertain_mask
test_classifier_before_interplolate_xor_mask
test_classifier_before_interplolate_xor_mask_bs16
test_classifier_before_interplolate_xor_mask_bs16_contrasive_loss
test_classifier_before_interplolate_xor_mask_bs16_contrasive_loss_5000_q_len
test_classifier_before_interplolate_xor_mask_contrasive_loss
test_crag_1024
test_crag_768
test_crag_768_bs8
test_ehis_pretraining_lr_0.01_min_lr_0.00001
test_interplolate_before_classifier
test_interplolate_before_classifier_xor_mask
test_multi_level_sample_points_stage1_stage2_stage3_stage4
test_multi_level_sample_points_stage1_stage2_stage3_stage4_gland_only_linear_fc
test_multi_level_sample_points_stage1_stage2_stage3_stage4_only_linear_fc
test_multi_level_sample_points_stage1_stage2_stage3_stage4_only_linear_fc_new_pretrain
test_multi_level_sample_points_stage1_stage4
test_multi_level_sample_points_stage1_stage4_only_linear_fc
test_multinomial_sample_grid_sample_5000_q_len_01_contrasive_loss_before_classifier
test_multinomial_sample_grid_sample_5000_q_len_01_contrasive_loss_pred_logits
test_multinomial_sample_grid_sample_5000_q_len_contrasive_loss_before_classifier
test_multinomial_sample_grid_sample_5000_q_len_contrasive_loss_pred_logits
test_new_8_trans_tgt
test_new_8_translation
test_no_pretrain
test_only_pretrained_on_eish_tgt
test_pretrain_CRCTP
test_pretrain_ehis_crag
test_pretrain_ehis_crag_glas_train
test_pretrain_ehis_glas
test_pretrain_ehis_with_larger_lr_and
test_pretrain_only_eish
test_pretrained_on_ehis_crag
test_pretrained_on_eihs_crag_glas_train
test_pretraining
test_pretraining_eihs
test_q1000_temp_01
test_q_1000
test_q_1000_01_contrasive_loss_sihb
test_q_1000_01_contrasive_loss_sihb_crag_1024_bs4
test_q_1000_01_contrasive_loss_sihb_crag_768
test_q_1000_04_contrasive_loss
test_q_1000_04_contrasive_loss_01_temperature
test_q_1000_04_contrasive_loss_01_temperature_bs8
test_q_1000_gland_8
test_q_2500
test_q_2500_glas
test_q_5000_1
test_q_5000_glas
test_queue_dim_256
test_really_crag
test_really_crag_on_tgt
test_really_crag_on_tgt_with_attention
test_reimplementation
test_tg_elastic
test_tg_no_elastic
test_tgt_eelastic
test_tgt_no_elastic
test_use_only_pretrained_on_ehis_lr_0.004_minlr_0.0001
test_use_only_pretrained_on_ehis_lr_0.004_minlr_0.0004
test_use_only_pretrained_on_ehis_lr_0.01_minlr_0.00001
test_use_only_pretrained_on_ehis_lr_0.01_minlr_0.0001
test_use_only_pretrained_on_ehis_lr_0.01_minlr_0.0001_wd0.0001
test_use_only_pretrained_on_ehis_lr_0.01_minlr_0.0001_wd0.0005
upload_tflogs.sh
upload_tflogs_bypy
z.py
z1.py
a.py
gpu_run.sh
test_tg_elastic_gray_blur
test_tgt_eelastic_gray_blur
eval_all_the_combo
eval_all_the_combo_39999
eval_crag_tgt
eval_tgt_dice_1024
test_100percent_tgt_glas
test_30percent_tgt
test_60percent_tgt
test_new_pretrain_tg
test_new_pretrain_tgt
test_pretrain_100percent_tgt
test_pretrain_30percent_tgt
test_pretrain_60percent_tgt
test_tg_corrected
test_tg_pretrain_on_crops
test_tgt_corrected
test_tgt_pretrain_cropped
testetsetestset
color.py
# dataset/crop_pretraining.py
draw.sh
draw_gnn_vis.py
fig1.py
heihei
heihei1
merge.py
pretrain_milestone.py
test/test_ckpt_manager.py
test/test_draw_red_cnt.py
test/test_glas.py
test/test_lr_scheduler.py
test/test_vis.py
testA_60.bmp
testB_13.bmp
test_100percent_416+slide_eval_glas
test_100percent_416+slide_eval_glas_trainA
test_100percent_416+slide_eval_glas_trainB
test_100percent_tgt_1
test_1024_dice_tgt_crag_1
test_30percent_tgt_1
test_45999_crag_768_200_eval
test_60percent_tgt_1
test_79999_480_glas_eval400
test_79999pretrain_416+slide_eval_glas_train
test_79999pretrain_416+slide_eval_glas_trainA
test_79999pretrain_416+slide_eval_glas_trainB
test_79999pretrain_480+whole_eval_glas_train
test_79999pretrain_480+whole_eval_glas_trainA
test_79999pretrain_480+whole_eval_glas_trainA_real
test_79999pretrain_480+whole_eval_glas_trainB
test_79999pretrain_480+whole_eval_glas_trainB_real
test_79999pretrain_480+whole_eval_glas_train_real
test_crag_tgt_200_eval_764
test_eval_400_crag_1024_bs4
test_eval_400_crag_768_bs8
test_pretrain_miltistone_no_crag
test_pretrain_miltistone_no_glas
train_m.py
vis_fig1.py
z2.py
z3.py
z4.py
.color.py.swp
.gen_mask_uncertain.py.swp
eval_best_testA_F1
eval_best_testA_Haus
eval_best_testA_dice
eval_best_testB_Dice
eval_best_testB_Haus
eval_best_testB_f1
eval_best_testB_haus
eval_crag_best_dice
fig4_crag
fig4_glas
gen_cailiao
gen_cailiao_glas
sub/
test_ti_loss_best
test_ti_loss_glas
test_ti_loss_glas_1
under_crag
under_over_crag_real
under_over_glas
vis_fig2.py
vis_fig2_crag_999
vis_fig2_glas_51
vis_fig2_no_crag_tg_8
