*tar.gz
IIIT5K
.vscode
**/__pycache__
.data
runs
checkpoints
aa.py
bench
cc.py
cnn_res
eval_res
gnn.py
less
tmp
load.py
loss.py_b
nohup.out
*.png
*.jpg
res_mask
res
res2
res3
res3.txt
res5
res6
res7
res8
seg_loss
trans_res
unet_res
test.pth
result
data
models/vit.py
models/swin_test.py
run1.sh
x.py
mmsegmentation/docs
mmsegmentation/.circleci
mmsegmentation/.dev
mmsegmentation/.github
mmsegmentation/CITATION.cff
mmsegmentation/.readthedocs.yml
.pre-commit-config.yaml
owners.yml
.owners.yml
mmsegmentation/.gitignore
mmsegmentation/LICENSE
mmsegmentation/LICENSES.md
mmsegmentation/MANIFEST.in
model-index.yaml
pytest.ini
mmsegmentation/README.md
mmsegmentation/README_zh-CN.md
mmsegmentation/requirements.txt
mmsegmentation/setup.cfg
mmsegmentation/setup.py
mmsegmentation/model-index.yml
mmsegmentation/docker
mmsegmentation/demo
mmsegmentation/resources
mmsegmentation/requirements
save
work_dirs_tmp
nohup.out*
mmsegmentation/tests
work_dirs





